
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Login to your account</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="logdata()" >
                        <input type="email" formControlName="email" placeholder="email" >
                            <div class="form-error" *ngIf="loginForm.get('email').touched && !loginForm.get('email').valid">
                                <div *ngIf="loginForm.get('email').errors.required">
                                    Email is required
                                </div>
                                <div *ngIf="loginForm.get('email').errors.email && !loginForm.get('email').errors.required">
                                    Invalid email address
                                </div>
                            </div>
                        <input formControlName="password"  type="password" placeholder="password" formControlName="password">
                            <div class="form-error" *ngIf="loginForm.get('password').touched && !loginForm.get('password').valid">
                                <div *ngIf="loginForm.get('password').errors.minlength">
                                    Password must be at least 4 characters long.
                                </div>
                                <div *ngIf="loginForm.get('password').errors.required">
                                    Password is required
                                </div>
                            </div>    
                        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-default">Sign-in</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Sign-up!</h2>
                    <form [formGroup]="signupForm" (ngSubmit)="register()" >
                        <input type="text" placeholder="Firstname" formControlName="firstname">
                            <div class="form-error" *ngIf="signupForm.get('firstname').touched && !signupForm.get('firstname').valid">
                                <div *ngIf="signupForm.get('firstname').errors.required">
                                    First Name is required
                                </div>
                            </div>
                        <input type="text" placeholder="Lastname" formControlName="lastname" >
                            <div class="form-error" *ngIf="signupForm.get('lastname').touched && !signupForm.get('lastname').valid">
                                <div *ngIf="signupForm.get('lastname').errors.required">  
                                    last Name is required
                                </div>
                            </div>
                        <input type="email" formControlName="email" placeholder="email">
                            <div class="form-error" *ngIf="signupForm.get('email').touched && !signupForm.get('email').valid">
                                <div *ngIf="signupForm.get('email').errors.required">
                                    Email is required
                                </div>
                                <div *ngIf="signupForm.get('email').errors.email && !signupForm.get('email').errors.required">
                                    Invalid email address
                                </div>
                            </div>
                        <input type="password" formControlName="password" autocomplete="new-password" placeholder="password">
                            <div class="form-error" *ngIf="signupForm.get('password').touched && !signupForm.get('password').valid">
                                <div *ngIf="signupForm.get('password').errors.minlength">
                                    Password must be at least 4 characters long.
                                </div>
                                <div *ngIf="signupForm.get('password').errors.required">
                                    Password is required
                                </div>
                            </div>    
                        
                        <input type="text" formControlName="role" placeholder="role">
                            <div class="form-error" *ngIf="signupForm.get('role').touched && !signupForm.get('role').valid">
                                <div *ngIf="signupForm.get('role').errors.required">
                                    role is required
                                </div>
                            </div>    
                        <input placeholder="Phone" formControlName="phone" type="number">
                            <div class="form-error" *ngIf="signupForm.get('phone').touched && !signupForm.get('phone').valid">
                                <div *ngIf="signupForm.get('phone').errors.required">
                                    Phone is required
                                </div>
                                <div *ngIf="signupForm.get('phone').errors.pattern">
                                    Phone number must be 10 digit.
                                </div>
                            </div>
                        <input placeholder="Address" formControlName="address" type="text">
                            <div class="form-error" *ngIf="signupForm.get('address').touched && !signupForm.get('address').valid">
                                <div *ngIf="signupForm.get('address').errors.required">
                                    Address is required
                                </div>
                            </div>  
                        <input placeholder="City" formControlName="city" type="text">
                            <div class="form-error" *ngIf="signupForm.get('city').touched && !signupForm.get('city').valid">
                                <div *ngIf="signupForm.get('city').errors.required">
                                    city is required
                                </div>
                            </div>
                        <input type="text" placeholder="State" formControlName="state">
                            <div class="form-error" *ngIf="signupForm.get('state').touched && !signupForm.get('state').valid">
                                <div *ngIf="signupForm.get('state').errors.required">
                                    State is required
                                </div>
                            </div>
                        <input type="text" placeholder="Country" formControlName="country">
                            <div class="form-error" *ngIf="signupForm.get('country').touched && !signupForm.get('country').valid">
                                <div *ngIf="signupForm.get('country').errors.required">
                                    country is required
                                </div>
                            </div>    
                        <input type="number" placeholder="Zip" formControlName="zip">
                            <div class="form-error" *ngIf="signupForm.get('zip').touched && !signupForm.get('zip').valid">
                                <div *ngIf="signupForm.get('zip').errors.required">
                                    zip is required
                                </div>
                            </div>
                        <button type="submit" [disabled]="signupForm.invalid" class="btn btn-default">Sign-up</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->